<div class="component component-sign-up">
    <mat-card class="sign-up-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title>Success!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Congratulations!</p>
            <p>You have successfully registered on the site. You will be redirected to the Sign-in page in 5 seconds.</p>
        </mat-card-content>
        <mat-card-footer>
            <ul>
                <li>Or you can <a title="Sign In" routerLink="/auth/sign-in">Sign In</a> now</li>
            </ul>
        </mat-card-footer>
    </mat-card>
</div><!-- .component -->