<div class="component component-tenant-selector">
    <div class="form-wrapper">
        <form id="form_tenant_selector" class="form-tenant-selector" method="post" action="">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Tenant Selector</mat-card-title>
                    <mat-card-subtitle>Select a tenant</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Tenant Selection
                    <div class="matches">
                        <table>
                            <caption>Matches</caption>
                            <thead>
                                <tr>
                                    <td>
                                        @if (multiple()) {
                                            <input type="checkbox" />
                                        }
                                    </td>
                                    <td>Name</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Name</td>
                                    <td>Description</td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- .matches -->
                    <div class="selected">
                        <table>
                            <caption>Selected</caption>
                            <thead>
                                <tr>
                                    <td>
                                        @if (multiple()) {
                                            <input type="checkbox" />
                                        }
                                    </td>
                                    <td>Name</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Name</td>
                                    <td>Description</td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- .selected -->
                </mat-card-content>
                <mat-card-actions>
                    <button type="button">
                        Select
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div><!-- .form-wrapper -->
</div><!-- .component -->