<div class="component component-sign-up-verified">
    <mat-card class="sign-up-card" appearance="outlined">
        <div class="form-wrapper">
            <form id="form_sign_up" class="sign-up" method="post" action="" (submit)="sign_up_verified($event)">
                <mat-card-header>
                    <mat-card-title>Sign Up</mat-card-title>
                    <mat-card-subtitle>Set your password</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="field field-wrapper field-wrapper-block">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="email" id="email" placeholder="Email address" matInput [field]="component.form_email_verified.email"/>
                        </mat-form-field>
                    </div><!-- .field -->
                    <div class="field field-wrapper field-wrapper-block">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input type="password" id="pw1" placeholder="Password" matInput [field]="component.form_email_verified.pw1"/>
                        </mat-form-field>
                    </div><!-- .field -->
                    <div class="field field-wrapper field-wrapper-block">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" id="pw2" placeholder="Confirm Password" matInput [field]="component.form_email_verified.pw2"/>
                        </mat-form-field>
                    </div><!-- .field -->

                    <input type="hidden" id="register_id" />
                    <input type="hidden" id="token" [field]="component.form_email_verified.token" />
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" class="btn-sign-up" mat-fab extended>
                        <mat-icon>check_circle</mat-icon>
                        Submit
                    </button>
                </mat-card-actions>
                <mat-card-footer>
                    <ul>
                        <li>Already have an account? <a title="Sign In" routerLink="/auth/sign-in">Sign In</a></li>
                    </ul>
                </mat-card-footer>
            </form>
        </div><!-- .form-wrapper -->
    </mat-card>
</div><!-- .component -->