<div class="component component-user-selector">
    <div class="form-wrapper">
        <form id="form_user_selector" class="form-user-selector" method="post" action="">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>User Selector</mat-card-title>
                    <mat-card-subtitle>Select a user</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="wrapper-matches">
                        <table class="tbl-matches">
                            <caption>Matches</caption>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- .wrapper-matches -->
                    <div class="wrapper-selected">
                        <table class="tbl-selected">
                            <caption>Selected</caption>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- .wrapper-selected -->
                </mat-card-content>
                <mat-card-actions>
                    <button type="button" class="btn btn-selected">
                        Select
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div><!-- .form-wrapper -->
</div><!-- .component -->