<div class="component component-header">
    <mat-menu #menu_user="matMenu">
        <a title="Profile" routerLink="/me" mat-menu-item>Profile</a>
        <mat-divider></mat-divider>
        <a ttle="Sign In" routerLink="/sign-in" mat-menu-item>Sign In</a>
        <a title="Sign Out" routerLink="/sign-out" mat-menu-item>Sign Out</a>
    </mat-menu>

    <mat-toolbar id="tb-header" color="primary">
        <button type="button" title="Applications" mat-icon-button (click)="toggle_apps()">
            <mat-icon>apps</mat-icon>
        </button>
        <h4>
            <a title="Home" routerLink="/" aria-label="Home">Nexus</a>
        </h4>
        <span class="spacer"></span>
        <button type="button" title="Notifications" matIconButton [matBadge]="note_count()" (click)="toggle_notifications()">
            <mat-icon>notifications</mat-icon>
        </button>
        @if (user().is_authenticated) {
            <button type="button" title="User" [matMenuTriggerFor]="menu_user" mat-icon-button>
                <mat-icon>account-circle</mat-icon>
            </button>
        } @else {
            <a title="Sign In" routerLink="/auth/sign-in" aria-label="Sign In" matIconButton>
                <mat-icon>account_circle</mat-icon>
            </a>
        }
    </mat-toolbar>
</div>
{{ user().name }}