<div class="component component-inv-layout">
    <mat-sidenav-container>
        <mat-sidenav #nav_start_inv mode="side" position="start" disableClose="true">
            <nav>
                <ul>
                    <li><a title="Warehouses" routerLink="/inv/warehouses/list">Warehouses</a></li>
                    <li><a title="Locations" routerLink="/inv/locations/list">Locations</a></li>
                    <li><a title="Items" routerLink="/inv/items/list">Items</a></li>
                </ul>
            </nav>
        </mat-sidenav>
        <mat-sidenav #nav_end_inv mode="over" position="end">
            right
        </mat-sidenav>
        <mat-sidenav-content>
            <button type="button" mat-icon-button (click)="toggle_start_sidenav()">
                <mat-icon>chevron_forward</mat-icon>
            </button>
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div><!-- component -->