<div class="component component-admin-layout">
    <mat-sidenav-container>
        <mat-sidenav #nav_start_admin mode="side" position="start" disableClose="true">
            <nav>
                <ul>
                    <li><a title="Tenants" routerLink="/admin/tenants">Tenants</a></li>
                    <li><a title="Users" routerLink="/admin/users/">Users</a></li>
                    <li><a title="Users" routerLink="/admin/roles/">Roles</a></li>
                </ul>
            </nav>
        </mat-sidenav>
        <mat-sidenav mode="over" position="end">

        </mat-sidenav>
        <mat-sidenav-content>
            <button type="button" mat-icon-button (click)="toggle_left_sidenav()">
                <mat-icon>chevron_forward</mat-icon>
            </button>
            <router-outlet />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div><!-- .component -->