<div class="component component-admin-role">
    <div class="form-wrapper">
        <form id="role_form" class="role-form" method="post" action="">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>New Role</mat-card-title>
                    <mat-card-subtitle>new role</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
            </mat-card>
        </form>
    </div><!-- .form-wrapper -->
</div><!-- .component -->