<div class="component component-app-header">
  <mat-menu #menu_user="matMenu">
    <a title="Profile" routerLink="/me" mat-menu-item>Profile</a>
    <a title="Sign In" routerLink="/auth/sign-in" mat-menu-item>Sign In</a>
    <a title="Sign Out" routerLink="/auth/sign-out" mat-menu-item>Sign Out</a>
  </mat-menu>

  <mat-toolbar id="tb-header" color="primary">
    <button type="button" title="Applications" mat-icon-button>
      <mat-icon>apps</mat-icon>
    </button>
    <span>Applications</span>
    <span class="spacer"></span>
    <button type="button" title="User" mat-icon-button [matMenuTriggerFor]="menu_user">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</div><!-- component -->
