<div class="component component-admin-users-users">
    <div class="form-wrapper">
        <form id="search_form" class="search-form" method="post" action="" [formGroup]="component.formUsers">
            <mat-sidenav-container>
                <mat-sidenav #nav_tenant_selector position="end" mode="over" disableClose="true">
                    <app-tenant-selector multiple="false"></app-tenant-selector>
                    <button type="button" type="button" (click)="assign()">
                        Assign
                    </button>
                </mat-sidenav>
                <mat-sidenav-content>
                    <mat-toolbar>
                        <a id="a_user_new" class="btn btn-user-new" title="New User" routerLink="/admin/users/user/new" mat-icon-button>
                            <mat-icon>person_add</mat-icon>
                        </a>
                        <span class="divider">|</span>
                        <button type="button" class="btn btn-set-active" title="Set Active" aria-label="Set Active" mat-icon-button (click)="set_active()">
                            <mat-icon>person</mat-icon>
                        </button> 
                        <button type="button" class="btn btn-set-inactive" title="Set Inactive" aria-label="Set Inactive" mat-icon-button (click)="set_inactive()">
                            <mat-icon>person_off</mat-icon>
                        </button> 
                        <span class="divider">|</span>
                        <button type="button" class="btn btn-assign-tenant" title="Assign To Tenant" aria-label="Assign to Tenant" matIconButton (click)="assign_to_tenant()">
                            <mat-icon>assignment_turned_in</mat-icon>
                        </button>
                        <span class="divider">|</span>
                        <button type="button" class="btn btn-refresh" aria-label="Refresh" matIconButton (click)="refresh()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <mat-form-field appearance="outline">
                            <input type="search" id="filter" name="filter" aria-label="Filter" matInput/>
                            <button type="button" class="btn btn-search" aria-label="Search" mat-icon-button matSuffix (click)="search()">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </mat-toolbar>
                    <div class="results">
                        <table id="tbl_users">
                            <caption>Users</caption>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="select_all" name="select_all" class="field field-select-all" aria-label="Select all"/></th>
                                    <th>Active</th>
                                    <th>Name</th>
                                    <td>Email</td>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Active</td>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                            <tbody formArrayName="users">
                                @for(u of users.controls; track $index; let i = $index){ 
                                <tr [formGroupName]="i">
                                    <td><input type="checkbox" id="selected_{{ i }}" name="selected" [value]="u.value.id" formControlName="selected" /></td>
                                    <td></td>
                                    <td><a class="a_email_edit" title="Edit" routerLink="admin/users/user/edit/{{ u.value.id }}">{{ u.value.email }}</a></td>
                                    <td></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- .results -->
                </mat-sidenav-content>
            </mat-sidenav-container>
        </form>
    </div><!-- .form-wrapper -->
</div><!-- .component -->