<div class="component component-admin-tenants-tenants">
    <div class="form-wrapper">
        <form id="search_form" class="search-form" method="post" action="" [formGroup]="component.formTenants">
            <mat-toolbar>
                <a id="a_tenant_new" class="btn btn-tenant-new" title="New tenant" routerLink="/admin/tenants/tenant/new" mat-icon-button>
                    <mat-icon>add_home_work</mat-icon>
                </a>
                <button type="button" class="btn btn-set-active" title="Set Active" aria-label="Set Active" mat-icon-button (click)="set_active()">
                    <mat-icon>domain</mat-icon>
                </button> 
                <button type="button" class="btn btn-set-inactive" title="Set Inactive" aria-label="Set Inactive" mat-icon-button (click)="set_inactive()">
                    <mat-icon>domain_disabled</mat-icon>
                </button> 
                <mat-divider [vertical]="true"></mat-divider>
                <button type="button" class="btn btn-refresh" aria-label="Refresh" matIconButton (click)="refresh()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <mat-form-field appearance="outline">
                    <input type="search" id="filter" name="filter" aria-label="Filter" matInput/>
                    <button type="button" class="btn btn-search" aria-label="Search" mat-icon-button matSuffix (click)="search()">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <input type="checkbox" id="test" name="test" value="test" formControlName="test" />
            </mat-toolbar>
            <div class="results">
                <table id="tbl_tenants">
                    <caption>Tenants</caption>
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="select_all" name="select_all" class="field field-select-all" aria-label="Select all"/></th>
                            <th>Active</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>Active</td>
                            <td>Name</td>
                            <td>Description</td>
                        </tr>
                    </tfoot>
                    <tbody formArrayName="tenants">
                        @for(t of tenants.controls; track $index; let i = $index){ 
                        <tr [attr.data-id]="i" [formGroupName]="i">
                            <td><input type="checkbox" id="selected_{{ i }}" name="selected" title="Select" [value]="t.value.id" formControlName="selected"/></td>
                            <td>
                                @if(t.value.active) {
                                    <mat-icon>check_small</mat-icon>
                                }
                            </td>
                            <td><a class="a_tenant_edit" title="Edit" routerLink="/admin/tenants/tenant/edit/{{ t.value.id }}">{{ t.value.name }}</a></td>
                            <td>{{ t.value.description }}</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <pre>{{ this.component.formTenants.value | json }}</pre>
            </div><!-- .results -->
        </form>
    </div><!-- .form-wrapper -->
</div><!-- component -->