<div class="component component-admin-tenants-users">
    <div class="form-wrapper">
        <form id="search_form" class="search-form" method="post" action="" [formGroup]="component.formUsers">
            <mat-sidenav-container>
                <mat-sidenav #nav_tenant_selector position="end" mode="over" disableClose="true">
                    <app-tenant-selector #tenant_selector multiple="false" (tenants_selected)="on_tenants_selected($event)"></app-tenant-selector>
                </mat-sidenav>
                <mat-sidenav-content>
                    <mat-toolbar>
                        <a id="a_user_new" class="btn btn-user-new" title="New User" routerLink="/admin/tenants/user/new" mat-icon-button>
                            <mat-icon>person_add</mat-icon>
                        </a>
                        <button type="button" class="btn btn-assign-tenant" title="Assign to Tenant" aria-label="Assign to Tenant" matIconButton (click)="assign_to_tenant()">
                            <mat-icon>assignment_turned_in</mat-icon>
                        </button>
                        <button type="button" class="btn btn-tenant-select" title="Select Tenant" matFab extended (click)="select_tenant()">
                            <mat-icon>domain</mat-icon>{{ component.tenant_name }}
                        </button>
                        <button type="button" class="btn btn-refresh" aria-label="Refresh" matIconButton (click)="refresh()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <mat-form-field appearance="outline">
                            <input type="search" id="filter" name="filter" aria-label="Filter" matInput/>
                            <button type="button" class="btn btn-search" aria-label="Search" mat-icon-button matSuffix (click)="search()">
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-form-field>
                    </mat-toolbar>
                    <div class="results">
                        <table id="tbl_users">
                            <caption>Users</caption>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="select_all" name="select_all" class="field field-select-all" aria-label="Select all"/></th>
                                    <th>Active</th>
                                    <th>Name</th>
                                    <td>Email</td>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Active</td>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                            <tbody formArrayName="users">
                                @for(u of users.controls; track $index; let i = $index){
                                <tr [formGroupName]="i">
                                    <td><input type="checkbox" id="selected_{{ i }}" name="selected" class="selected" title="select" [value]="u.value.id" formControlName="id" /></td>
                                    <td></td>
                                    <td>{{ u.value.name }}</td>
                                    <td><a class="link role-link" routerLink="/admin/tenant/users/user/{{ u.value.id }}">{{ u.value.email }}</a></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div><!-- .results -->
                </mat-sidenav-content>
            </mat-sidenav-container>
        </form>
    </div><!-- .form-wrapper -->
</div><!-- .component -->