<div class="component component-admin-tenant">
    <mat-card class="tenant-card box-shadow-thin" appearance="outlined">
        <div class="form-wrapper">
            <form id="form_tenant" class="form-tenant" method="post" action="" [formGroup]="component.formTenant" (ngSubmit)="save()" [class.error]="component.error == ''">
                <mat-card-header>
                    <mat-card-title>New Tenant</mat-card-title>
                    <mat-card-subtitle>New tenant details</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <mat-toolbar>
                        <button type="button" class="btn btn-save" aria-label="Save" mat-fab extended (click)="save()">
                            <mat-icon>save</mat-icon>Save
                        </button>
                    </mat-toolbar>
                </mat-card-actions>
                <mat-card-content>
                    @if (component.error != '') {
                        <mat-error>{{ component.error }}</mat-error>
                    }
                    <div class="field field-wrapper field-wrapper-block">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" id="name" name="name" placeholder="Name" required matInput formControlName="name"/>
                            <mat-hint>Tenant name</mat-hint>
                        </mat-form-field>
                    </div><!-- .field -->
                    <div class="field field-wrapper field-wrapper-block">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea id="description" name="description" matInput formControlName="description"></textarea>
                            <mat-hint>Description</mat-hint>
                        </mat-form-field>
                    </div><!-- .field -->
                </mat-card-content>

                <input type="hidden" id="tenant_id" name="tenant_id" formControlName="tenant_id"/>
            </form>
        </div><!-- .form-wrapper -->
    </mat-card>
</div><!-- .component -->